body{
	background-image: url('../images/beer.png');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	background-image: url('../images/ribbon.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #FFD700;
	o
}

form{
	box-shadow: 1px 1px 2px #C3C3C3;
	border: 3px solid grey;
	position: relative;
	width: 60%;
	position: relative;
  	overflow: hidden;
  	margin: 0 auto 15px;
  	margin-bottom: 35px;
}

td {
  height: 50px;
  vertical-align: bottom;
}

table {
	border: 2px;
	width: 75%;
	text-align: center;
	font-size: 17px;
}

.container{
	background-color: #C3C3C3;
	align-content: center;	
	box-shadow: 1px 1px 2px #FFFFFF;
	opacity: 0.8;  	
  	color: black;
}

.truck{	
	background-color: #FFFFFF;
	align-content: center;	
	opacity: 1;  	
}

.beer_status{
	margin-right: 10px;	
	font-weight: bold;
}

.action_buttons{
	display: block;
	align-content: center;	
	text-align: center;
	padding-top: 5px;
	width: 50%;
	margin: auto;	
}

.text_center{
	text-align: center;
	padding: 10px;
}

.temp_info{
	font-size: 14px;	
	padding-bottom: 2px;	
}

.remove_container{
	position: right;
	padding-right: -10px;
	vertical-align: right;
}

.beer_title{
	font-size: 25px;
	color: #b30000;
	width: 100%;
	text-align: center;	
	opacity: 1;
	font-family: Germania One;
	font-weight: bold;
}